* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cores Personalizadas */
:root {
    --cor-primaria: #0067CF; /* Azul escuro */
    --cor-secundaria: #ceecff; /* Azul claro */
    --cor-texto: #333333; /* Preto */
    --cor-borda: #CAE1F5; /* Azul bebê */
}

body {
    font-family: 'Arimo', sans-serif;
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#sidebar, #profile-sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: var(--cor-primaria);
    color: #fff;
    transition: left 0.3s ease, right 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#sidebar {
    left: -250px;
}

#profile-sidebar {
    right: -250px;
    left: auto;
}

#sidebar ul, #profile-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li, #profile-sidebar ul li {
    padding: 15px 20px;
    cursor: pointer;
}

#sidebar ul li:hover, #profile-sidebar ul li:hover {
    background-color: var(--cor-primaria);
}

#menu {
    cursor: pointer;
}

#perfil {
    cursor: pointer;
}

#perfil .material-icons,
#menu .material-icons {
    font-size: 24px;
}

.logo img {
    width: 150px; 
    height: 50px; 
    display: block;
    border: none;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

#user_name h2 {
    margin: 0;
    color: var(--cor-primaria);
    line-height: 3.5;
}

#barra_de_pesquisa {
    margin-top: 20px; 
    margin-bottom: 20px; 
}

#barra_de_pesquisa input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid var(--cor-borda);
    border-radius: 5px;
    font-size: 16px;
}

#disciplinas h3 {
    color: var(--cor-primaria);
    margin-bottom: 10px;
}

#mensagem h3 {
    color: var(--cor-texto);
    margin-bottom: 10px;
}

.cartao_disciplina {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cartao_disciplina img {
    max-width: 150px;
    height: auto;
    margin-right: 20px;
}

.cartao_disciplina .informacoes_disciplina {
    flex: 1;
}

.cartao_disciplina h4 {
    margin-bottom: 10px;
}

.cartao_disciplina .informacoes_disciplina h5 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--cor-primaria);
}

.cartao_disciplina .informacoes_disciplina p {
    margin: 0;
    color: var(--cor-texto);
    line-height: 1.6;
}

.horario_aulas p {
    margin: 0;
    color: var(--cor-texto);
    display: inline-flex;
    font-family: 'Arimo', sans-serif;
    font-size: 12px;
    line-height: 1.6;
}

.horario_aulas .material-icons {
    margin-right: 10px;
    color: var(--cor-primaria);
}

.mais_informacoes {
    background-color: var(--cor-primaria);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.mais_informacoes:hover {
    background-color: #0055a5;
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cartao_informacoes {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    display: none; /* Inicialmente escondido */
}

.cartao_informacoes .informacoes {
    line-height: 1.6;
}

.cartao_informacoes h4 {
    color: var(--cor-primaria);
    margin-top: 10px;
}

.cartao_informacoes p {
    margin: 5px 0;
}
